/* $Id: faq.css,v 1.1.2.7.2.2 2008/06/11 15:57:42 snpower Exp $ */
.faq_category_indent {
  padding-left: 20px;
}

.faq_more_link {
  font-size: 0.85em;
  margin-left: 30em;
  margin-top: 0;
  margin-bottom: -1.25em;
  text-align: right;
}

.faq_top_link {
  font-size: 0.8em;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom: 1.0em;
}

.faq_question {
  background: White;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5em;
  padding-top: 5px;
  padding-left: 20px;
}

.faq_answer {
  padding-left: 40px;
}

.faq_dl_hide_answer {
  padding-bottom: 15px;
}

img.faq_tax_image {
  float: left;
  padding: 0px 3px 0px 3px;
}

div.faq_category_header, div.faq_qa_header {
  overflow: auto;
}
