td.cltr1 {background: #FFFFFF;}
td.cltr2 {background: #FFFFFF;}
td.cltr3 {background: #FFFFFF;}
td.clscale1 {background: #FFFFFF;}
td.clscale2 {background: #FFFFFF;}
td.clscale3 {background: #FFFFFF;}